{% load staticfiles %}
{% load util %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <style type="text/css">
    html {
      background-color: {% random_color %};
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>{{ group.name }}</h1>
    <p class="lead">{{ group.description }}</p>
    {% if group.p_contact_name %}
    <div class="event">
    To get involved, contact <strong>{{ group.p_contact_name }}</strong> at {{ group.p_contact_email }}.
    </div>
    {% endif %}
    <!--
    <div class="event">
    <strong>Next event:</strong><br>
    Free Hugs Day<br>
    2 - 4 pm, The Arch<br>
    Monday, September 23
    </div>
    -->
    <div class="center top20 bottom20">
      <a href="" class="button">Another random group!</a>
    </div>
  </div>
</body>
</html>
