{% load staticfiles %}
{% load util %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ group.name }} | Random Student Group</title>
  <style>
  @font-face {
      font-family: 'Museo Slab';
      src: url('{% static 'fonts/museo_slab.woff' %}') format('woff');
  }
  </style>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45096477-1', 'randomstudentgroup.com');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <div class="container">
    <h1>{{ group.name }}</h1>
    <div class="lead">{{ group.description|safe }}</div>
    {% if group.p_contact_name %}
    <div class="event">
    To get involved, contact <strong>{{ group.p_contact_name }}</strong> at {{ group.p_contact_email }}.
    </div>
    {% endif %}
    <div class="center top20 bottom10">
      <a href="" class="button">Another random group!</a>
    </div>
  </div>
</body>
</html>
